<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row shadow-lg p-4 rounded bg-light" style="width: 50%; max-width: 600px;">
    <div class="col-12 text-center">
      <img width="150" src="https://st.depositphotos.com/1000792/2615/v/450/depositphotos_26158065-stock-illustration-weather-icons.jpg" class="mb-4">
    </div>
    <div class="col-12">
      <form (submit)="submitLocation(cityName, countryCode)" class="text-center">
        <div class="form-group mb-3">
          <input
            type="text"
            class="form-control modern-input"
            placeholder="City Name"
            #cityName
            required>
        </div>
        <div class="form-group mb-3">
          <input
            type="text"
            class="form-control modern-input"
            placeholder="Country Code"
            #countryCode
            required>
        </div>
        <button class="btn btn-primary btn-block modern-button">
          Get Weather
        </button>
      </form>
    </div>
    <div class="col-12 mt-4">
      <div *ngIf="weather" class="card card-body shadow-sm">
        <p>Temperature: {{ weather.main.temp }} °C</p>
        <p>Latitude: {{ weather.coord.lat }}</p>
        <p>Longitude: {{ weather.coord.lon }}</p>
        <p>Condition: {{ weather.weather[0].description }}</p>
        <p>Humidity: {{ weather.main.humidity }}</p>
        <p>Pressure: {{ weather.main.pressure }}</p>
      </div>
    </div>
  </div>
</div>
